daemon = 0
bootstrap = "process/basestation/slave/main.lua"
lualib_path = "test/?.lua;lualib/?.lua;process/basestation/slave/?.lua;process/basestation/common/?.lua;"
lualib_cpath = "luaclib/?.so"
master_host = "127.0.0.1"
master_listen_port = 10001
log_level = "0"
log_default = "-1"
auth_salt = "PTU"
auth_code = "code"
