# Object files
*.o
*.d
.depend
tags
gate
server
client
/deps/lua/lua
luac
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
/x
# Debug files
*.dSYM/

#Pribate files
/one/KeywordTbl.lua
/process/one/keywords/*.lua
process/one/Index.lua
process/one/HtmlTags.lua

# Deploy
/deploy/BigFileEncoder.lua
/deploy/SheeryEncoder.lua
/deploy/encoded-codemgr-src/*.php
/deploy/encoded-codemgr-src/x_code_deploy_dir

#lualib
/lualib/libChao_Lua

#log
/log
