daemon = 0
bootstrap = "process/basestation/master/main.lua"
lualib_path = "test/?.lua;lualib/?.lua;process/basestation/master/?.lua;process/basestation/common/?.lua;"
lualib_cpath = "luaclib/?.so"
master_listen_ip = "0.0.0.0"
master_listen_port = 10001
admin_port = 10002
log_level = "0"
log_default = "-1"
auth_salt = "PTU"
auth_code = "code"
