daemon = 0
bootstrap = "process/filesync/master/main.lua"
lualib_path = "test/?.lua;lualib/?.lua;process/filesync/master/?.lua;process/filesync/common/?.lua;"
lualib_cpath = "luaclib/?.so"
service_addr = "0.0.0.0:8091"
admin_port = 8092
search_repo_path = "/var/www/html/x_code_deploy_dir/keywords"
benchmark_seria_low = 1000
benchmark_seria_high = 1999
private_seria_low = 0
private_seria_high = 999
hello="world"
